### Importacion de librerias y lectura de archivos csv

In [2]:
import pandas as pd 
credits= pd.read_csv("credits.csv")
movies_Dataset=pd.read_csv("movies_dataset.csv",low_memory=False)
credits['index']=credits['id']
credits.set_index('id',inplace=True)
movies_Dataset['index']=movies_Dataset['id']
movies_Dataset.set_index('id',inplace=True,)

### Verificacion registros duplicados en el dataframe credits

In [3]:
credits[credits.index.duplicated()==True]

,cast,crew,index
id,,,
105045,"[{'cast_id': 5, 'character': 'Sophie II', 'cre...","[{'credit_id': '52fe4a44c3a36847f81c463f', 'de...",105045
5511,"[{'cast_id': 11, 'character': 'Jef Costello', ...","[{'credit_id': '52fe440ac3a36847f807ee01', 'de...",5511
23305,"[{'cast_id': 1, 'character': 'Lafcadia - Warri...","[{'credit_id': '52fe4465c3a368484e02091d', 'de...",23305
14788,"[{'cast_id': 1000, 'character': 'Martha', 'cre...","[{'credit_id': '52fe46199251416c7506d0ff', 'de...",14788
141971,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971
22649,"[{'cast_id': 1, 'character': 'Catherine Barkle...","[{'credit_id': '56d73d3e9251414291002436', 'de...",22649
13209,"[{'cast_id': 4, 'character': '', 'credit_id': ...","[{'credit_id': '52fe454f9251416c75052209', 'de...",13209
141971,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971
77221,"[{'cast_id': 2, 'character': 'Sultan Amar', 'c...","[{'credit_id': '52fe4962c3a368484e1289fd', 'de...",77221
109962,"[{'cast_id': 1, 'character': 'Liz Hamilton', '...","[{'credit_id': '52fe4ac8c3a36847f81e1445', 'de...",109962
84198,"[{'cast_id': 3, 'character': 'Himself', 'credi...","[{'credit_id': '52fe48e09251416c9109b347', 'de...",84198
119916,[],"[{'credit_id': '52fe4c10c3a36847f821fbdd', 'de...",119916
152795,"[{'cast_id': 5, 'character': 'Robin Wright', '...","[{'credit_id': '55c0d60e9251410f19001cec', 'de...",152795
18440,"[{'cast_id': 1, 'character': 'Lin', 'credit_id...","[{'credit_id': '52fe477c9251416c7509b27d', 'de...",18440
25541,"[{'cast_id': 1001, 'character': 'Tykke', 'cred...","[{'credit_id': '52fe44cec3a368484e037efd', 'de...",25541
110428,"[{'cast_id': 3, 'character': 'Camille Claudel'...","[{'credit_id': '577ed5389251416976004432', 'de...",110428
11115,"[{'cast_id': 13, 'character': 'Tommy Vinson', ...","[{'credit_id': '52fe43fb9251416c75024ff5', 'de...",11115
116723,"[{'cast_id': 3, 'character': 'Sam Smith', 'cre...","[{'credit_id': '52fe4b9bc3a36847f820bba1', 'de...",116723
3057,"[{'cast_id': 12, 'character': 'The Creature', ...","[{'credit_id': '52fe4380c3a36847f80590dd', 'de...",3057
125458,"[{'cast_id': 1, 'character': 'Orry Main', 'cre...","[{'credit_id': '54ae8ef1c3a368070f000380', 'de...",125458
199591,"[{'cast_id': 7, 'character': 'Hollander', 'cre...","[{'credit_id': '52fe4da29251416c9111ce5d', 'de...",199591
24023,"[{'cast_id': 1, 'character': 'Johan Falk', 'cr...","[{'credit_id': '52fe447dc3a368484e026053', 'de...",24023
24026,"[{'cast_id': 1, 'character': 'Johan Falk', 'cr...","[{'credit_id': '52fe447dc3a368484e0260fd', 'de...",24026
11752,"[{'cast_id': 6, 'character': 'Mila', 'credit_i...","[{'credit_id': '52fe44809251416c75037035', 'de...",11752
142563,[],"[{'credit_id': '52fe4ae59251416c750f19b3', 'de...",142563
157301,[],"[{'credit_id': '52fe4bbe9251416c910e4533', 'de...",157301
9755,"[{'cast_id': 1, 'character': 'Churchill', 'cre...","[{'credit_id': '52fe4527c3a36847f80bf5e5', 'de...",9755
123634,"[{'cast_id': 6, 'character': 'Ray', 'credit_id...","[{'credit_id': '52fe4a99c3a368484e15cc3d', 'de...",123634
8767,"[{'cast_id': 11, 'character': 'Mike Gaucher / ...","[{'credit_id': '52fe44b8c3a36847f80a6389', 'de...",8767
43629,"[{'cast_id': 2, 'character': 'The Man', 'credi...","[{'credit_id': '52fe4655c3a36847f80f96bf', 'de...",43629
187156,[],"[{'credit_id': '52fe4d119251416c7512ed39', 'de...",187156
69234,"[{'cast_id': 1, 'character': 'Gerard Carriere'...","[{'credit_id': '52fe47bfc3a368484e0d77bf', 'de...",69234
168538,"[{'cast_id': 3, 'character': 'Nana', 'credit_i...","[{'credit_id': '550706449251412c050049d2', 'de...",168538
42495,"[{'cast_id': 4, 'character': 'King Lear', 'cre...","[{'credit_id': '52fe4606c3a36847f80e7e77', 'de...",42495
132641,"[{'cast_id': 4, 'character': 'Mihoko Nakagawa'...","[{'credit_id': '56365ed9925141285701b06e', 'de...",132641
15028,"[{'cast_id': 4, 'character': 'Zak Gibbs', 'cre...","[{'credit_id': '54afed0cc3a3683fba00443d', 'de...",15028
4912,"[{'cast_id': 15, 'character': 'Chuck Barris', ...","[{'credit_id': '52fe43e2c3a36847f80760a9', 'de...",4912
159849,"[{'cast_id': 12, 'character': 'Narrator', 'cre...","[{'credit_id': '52fe4c229251416c910f10d5', 'de...",159849
99080,"[{'cast_id': 1004, 'character': 'Luke Oarum', ...","[{'credit_id': '52fe4a269251416c750df61d', 'de...",99080
298721,"[{'cast_id': 1, 'character': 'Jenjira', 'credi...","[{'credit_id': '5739ceeac3a3683c9d000c12', 'de...",298721
97995,"[{'cast_id': 1001, 'character': 'Max.', 'credi...","[{'credit_id': '55140dfa92514103e9002d99', 'de...",97995
10991,"[{'cast_id': 1, 'character': 'Ash Ketchum', 'c...","[{'credit_id': '52fe43de9251416c750213ff', 'de...",10991
12600,"[{'cast_id': 1, 'character': 'Ash Ketchum (voi...","[{'credit_id': '52fe45049251416c75048e35', 'de...",12600
265189,"[{'cast_id': 2, 'character': 'Ebba', 'credit_i...","[{'credit_id': '534fd1a80e0a267eb6000e32', 'de...",265189

### Se eliminan los registros duplicados encontrados en un nuevo dataset limpio

In [4]:
cleanCredits = credits.drop_duplicates(subset=['index'])

### Verificacion registros duplicados en dataset movies

In [5]:
movies_Dataset[movies_Dataset['index'].duplicated()==True]

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,index
id,,,,,,,,,,,,,,,,,,,,,
105045,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",0.122178,...,0.0,115.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0,105045
5511,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,9.091288,...,39481.0,105.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0,5511
23305,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",1.967992,...,0.0,86.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,The Warrior,False,6.3,15.0,23305
14788,False,NaN,1600000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.bubblethefilm.com/,tt0454792,en,Bubble,Set against the backdrop of a decaying Midwest...,3.008299,...,0.0,73.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bubble,False,6.4,36.0,14788
141971,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,...,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,141971
22649,False,NaN,4,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0022879,en,A Farewell to Arms,British nurse Catherine Barkley (Helen Hayes) ...,2.411191,...,25.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every woman who has loved will understand,A Farewell to Arms,False,6.2,29.0,22649
13209,False,NaN,2500,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt0499537,fa,Offside,"Since women are banned from soccer matches, Ir...",1.529879,...,0.0,93.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,Offside,False,6.7,27.0,13209
141971,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,...,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,141971
77221,False,NaN,40000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,tt1701210,en,Black Gold,"On the Arabian Peninsula in the 1930s, two war...",6.475665,...,5446000.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Black Gold,False,5.9,77.0,77221
109962,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0082992,en,Rich and Famous,Two literary women compete for 20 years: one w...,10.396878,...,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"From the very beginning, they knew they'd be f...",Rich and Famous,False,4.9,7.0,109962
84198,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt1736049,en,A Place at the Table,"Using personal stories, this powerful document...",1.673307,...,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Nation. Underfed.,A Place at the Table,False,6.9,7.0,84198
119916,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",1.8e-05,...,0.0,123.0,[],Released,NaN,The Tempest,False,0.0,0.0,119916
152795,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,tt1821641,en,The Congress,More than two decades after catapulting to sta...,8.534039,...,455815.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Congress,False,6.4,165.0,152795
18440,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,1.436085,...,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Days of Darkness,False,5.0,5.0,18440
25541,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,2.587911,...,0.0,90.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Brotherhood,False,7.1,21.0,25541
110428,False,NaN,3512454,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2018086,fr,Camille Claudel 1915,"Winter, 1915. Confined by her family to an asy...",0.110065,...,115860.0,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Camille Claudel 1915,False,7.0,20.0,110428
11115,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,6.880365,...,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Deal,False,5.2,22.0,11115
69234,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,tt0100361,en,The Phantom of the Opera,Count de Chagnie has discovered Christine's si...,0.43849,...,0.0,168.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Phantom of the Opera,False,5.0,3.0,69234
168538,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,...,0.0,92.0,[],Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0,168538
42495,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",0.187901,...,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,King Lear,False,8.0,3.0,42495
132641,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0046468,ja,Tsuma,"Ten years into a marriage, the wife is disappo...",0.619388,...,0.0,89.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Wife,False,0.0,0.0,132641
15028,False,NaN,26000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,tt0157472,en,Clockstoppers,"Until now, Zak Gibbs' greatest challenge has b...",4.920175,...,38793283.0,94.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,False,4.9,90.0,15028
4912,False,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,tt0270288,en,Confessions of a Dangerous Mind,"Television made him famous, but his biggest hi...",7.645827,...,33013805.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some things are better left top secret.,Confessions of a Dangerous Mind,False,6.6,281.0,4912
159849,False,"{'id': 158365, 'name': 'Why We Fight', 'poster...",0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",0.473322,...,0.0,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0,159849
99080,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",0.002362,...,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0,99080
298721,False,NaN,980000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",2.535419,...,0.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Cemetery of Splendour,False,4.4,50.0,298721
97995,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",0.141558,...,0.0,62.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Seven Years Bad Luck,False,5.6,4.0,97995
10991,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,6.480376,...,68411275.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0,10991
12600,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt0287635,ja,劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）,"All your favorite Pokémon characters are back,...",6.080108,...,28023563.0,75.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,False,5.7,82.0,12600
265189,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",12.165685,...,1359497.0,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0,265189

### limpieza dataset movies
##### se ecnontraron 3 filas con columnas desorganizadas sin posibilidad de reordenar ya que hay datos ambiguos que pueden pertenecer a varias columnas
##### se decide eliminar los 3 registros
##### se realiza cambio de tipo de la columna id en tipo entero
##### se limpian los datos duplicados por id del dataset movies en un nuevo dataset limpio

In [6]:
movies_Dataset.drop(movies_Dataset[movies_Dataset['index']=='2014-01-01'].index,inplace=True)
movies_Dataset.drop(movies_Dataset[movies_Dataset['index']=='1997-08-20'].index,inplace=True)
movies_Dataset.drop(movies_Dataset[movies_Dataset['index']=='2012-09-29'].index,inplace=True)
movies_Dataset['index']= movies_Dataset['index'].astype(int)
moviesclean= movies_Dataset.drop_duplicates(subset=['index'])

### Definicion de Funcion para desanidar las columnas contraidas en listas y diccionarios

In [7]:
def subtract(df,colum):
    df[colum]=df[colum].apply(lambda x: eval(x))
    tempdf=df[colum].explode()
    finaldf=pd.json_normalize(tempdf)
    finaldf['index']=tempdf.index
    return finaldf

### Generacion de nuevos dataframes de las columnas anidadas llamando a la funcion subtrac

In [8]:
crew=subtract(cleanCredits,'crew')
cast=subtract(cleanCredits,'cast')
genres=subtract(moviesclean,'genres')

C:\Users\Maboh\AppData\Local\Temp\ipykernel_24452\3305256191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[colum]=df[colum].apply(lambda x: eval(x))
C:\Users\Maboh\AppData\Local\Temp\ipykernel_24452\3305256191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[colum]=df[colum].apply(lambda x: eval(x))
C:\Users\Maboh\AppData\Local\Temp\ipykernel_24452\3305256191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[colum]=df[colum].apply(lambda x: eval(x))

In [104]:
cast

,cast_id,character,credit_id,gender,id,name,order,profile_path,index
0,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862
...,...,...,...,...,...,...,...,...,...
564453,3.0,,52fe4ea59251416c7515d7d9,1.0,1090923.0,Nathalie Lissenko,1.0,None,227506
564454,4.0,,52fe4ea59251416c7515d7dd,2.0,1136422.0,Pavel Pavlov,2.0,None,227506
564455,5.0,,52fe4ea59251416c7515d7e1,0.0,1261758.0,Aleksandr Chabrov,3.0,None,227506
564456,6.0,,52fe4ea59251416c7515d7e5,1.0,29199.0,Vera Orlova,4.0,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,227506
564457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,461257

In [105]:
crew

,credit_id,department,gender,id,job,name,profile_path,index
0,52fe4284c3a36847f8024f49,Directing,2.0,7879.0,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,862
1,52fe4284c3a36847f8024f4f,Writing,2.0,12891.0,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg,862
2,52fe4284c3a36847f8024f55,Writing,2.0,7.0,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg,862
3,52fe4284c3a36847f8024f5b,Writing,2.0,12892.0,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg,862
4,52fe4284c3a36847f8024f61,Writing,0.0,12893.0,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg,862
...,...,...,...,...,...,...,...,...
464602,52fe4776c3a368484e0c8399,Sound,0.0,549356.0,Original Music Composer,Richard McHugh,None,67758
464603,52fe4776c3a368484e0c839f,Camera,2.0,58818.0,Director of Photography,João Fernandes,None,67758
464604,533bccebc3a36844cf0011a7,Directing,0.0,1085341.0,Director,Yakov Protazanov,/yyjbGdCs2ZN6IlZNCfmBWyuRDlt.jpg,227506
464605,58ebbc26925141281908aa0a,Production,2.0,1195656.0,Producer,Joseph N. Ermolieff,None,227506
464606,593e676c92514105b702e68e,Directing,0.0,1344495.0,Director,Daisy Asquith,None,461257

In [9]:
lakeMovies_Cast=moviesclean.merge(cast,left_on='index',right_on='index')

In [10]:
lakeMovies_Cast

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,vote_count,index,cast_id,character,credit_id,gender,id,name,order,profile_path
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,5415.0,862,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,5415.0,862,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
2,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,5415.0,862,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
3,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,5415.0,862,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
4,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,5415.0,862,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564453,False,NaN,0,[],NaN,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,227506,3.0,,52fe4ea59251416c7515d7d9,1.0,1090923.0,Nathalie Lissenko,1.0,None
564454,False,NaN,0,[],NaN,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,227506,4.0,,52fe4ea59251416c7515d7dd,2.0,1136422.0,Pavel Pavlov,2.0,None
564455,False,NaN,0,[],NaN,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,227506,5.0,,52fe4ea59251416c7515d7e1,0.0,1261758.0,Aleksandr Chabrov,3.0,None
564456,False,NaN,0,[],NaN,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,227506,6.0,,52fe4ea59251416c7515d7e5,1.0,29199.0,Vera Orlova,4.0,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg
564457,False,NaN,0,[],NaN,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,0.0,461257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
lakeMovies_Crew=moviesclean.merge(crew,left_on='index',right_on='index')

In [109]:
lakeMovies_Crew

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,vote_average,vote_count,index,credit_id,department,gender,id,job,name,profile_path
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,7.7,5415.0,862,52fe4284c3a36847f8024f49,Directing,2.0,7879.0,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,7.7,5415.0,862,52fe4284c3a36847f8024f4f,Writing,2.0,12891.0,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
2,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,7.7,5415.0,862,52fe4284c3a36847f8024f55,Writing,2.0,7.0,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg
3,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,7.7,5415.0,862,52fe4284c3a36847f8024f5b,Writing,2.0,12892.0,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg
4,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,7.7,5415.0,862,52fe4284c3a36847f8024f61,Writing,0.0,12893.0,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464602,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,3.8,6.0,67758,52fe4776c3a368484e0c8399,Sound,0.0,549356.0,Original Music Composer,Richard McHugh,None
464603,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,3.8,6.0,67758,52fe4776c3a368484e0c839f,Camera,2.0,58818.0,Director of Photography,João Fernandes,None
464604,False,NaN,0,[],NaN,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,0.0,227506,533bccebc3a36844cf0011a7,Directing,0.0,1085341.0,Director,Yakov Protazanov,/yyjbGdCs2ZN6IlZNCfmBWyuRDlt.jpg
464605,False,NaN,0,[],NaN,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,0.0,227506,58ebbc26925141281908aa0a,Production,2.0,1195656.0,Producer,Joseph N. Ermolieff,None
464606,False,NaN,0,[],NaN,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,0.0,0.0,461257,593e676c92514105b702e68e,Directing,0.0,1344495.0,Director,Daisy Asquith,None

In [535]:
movies_Dataset

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,index
id,,,,,,,,,,,,,,,,,,,,,
862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,862
8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,8844
15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,15602
31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,31357
11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,11862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439050,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,439050
111109,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,111109
67758,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,67758
227506,False,NaN,0,[],NaN,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,227506
461257,False,NaN,0,[],NaN,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,461257

In [12]:
newdataset=movies_Dataset['belongs_to_collection']
newdataset=newdataset.dropna()

In [13]:
newdataset

id
862       {'id': 10194, 'name': 'Toy Story Collection', ...
15602     {'id': 119050, 'name': 'Grumpy Old Men Collect...
11862     {'id': 96871, 'name': 'Father of the Bride Col...
710       {'id': 645, 'name': 'James Bond Collection', '...
21032     {'id': 117693, 'name': 'Balto Collection', 'po...
                                ...
24568     {'id': 37261, 'name': 'The Carry On Collection...
19307     {'id': 37261, 'name': 'The Carry On Collection...
21251     {'id': 37261, 'name': 'The Carry On Collection...
460135    {'id': 477208, 'name': 'DC Super Hero Girls Co...
182030    {'id': 200641, 'name': 'Red Lotus Collection',...
Name: belongs_to_collection, Length: 4491, dtype: object

In [14]:
dataunbound=newdataset.apply(lambda x : eval(x))

In [113]:
dataunbound

id
862       {'id': 10194, 'name': 'Toy Story Collection', ...
15602     {'id': 119050, 'name': 'Grumpy Old Men Collect...
11862     {'id': 96871, 'name': 'Father of the Bride Col...
710       {'id': 645, 'name': 'James Bond Collection', '...
21032     {'id': 117693, 'name': 'Balto Collection', 'po...
                                ...
24568     {'id': 37261, 'name': 'The Carry On Collection...
19307     {'id': 37261, 'name': 'The Carry On Collection...
21251     {'id': 37261, 'name': 'The Carry On Collection...
460135    {'id': 477208, 'name': 'DC Super Hero Girls Co...
182030    {'id': 200641, 'name': 'Red Lotus Collection',...
Name: belongs_to_collection, Length: 4491, dtype: object

In [15]:
belongs_to_collection=pd.json_normalize(dataunbound)
belongs_to_collection['index']=dataunbound.index

In [16]:
belongs_to_collection

,id,name,poster_path,backdrop_path,index
0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,862
1,119050,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,15602
2,96871,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,11862
3,645,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg,710
4,117693,Balto Collection,/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg,/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg,21032
...,...,...,...,...,...
4486,37261,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg,24568
4487,37261,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg,19307
4488,37261,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg,21251
4489,477208,DC Super Hero Girls Collection,None,None,460135
4490,200641,Red Lotus Collection,/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg,/3fhHbLeO3DqdHvgHg5szs399eBb.jpg,182030

In [17]:
temp=moviesclean['production_companies']
temp=temp.dropna()
temp=temp.apply(lambda x: eval(x))
temp=temp.explode()
companies= pd.json_normalize(temp)
companies['index']=temp.index

In [18]:
companies

                            name       id   index
0        Pixar Animation Studios      3.0     862
1               TriStar Pictures    559.0    8844
2                   Teitler Film   2550.0    8844
3      Interscope Communications  10201.0    8844
4                   Warner Bros.   6194.0   15602
...                          ...      ...     ...
82327                        NaN      NaN  439050
82328                Sine Olivia  19653.0  111109
82329    American World Pictures   6165.0   67758
82330                  Yermoliev  88753.0  227506
82331                        NaN      NaN  461257

[82332 rows x 3 columns]

In [19]:
companies[companies['index']=='949']

                   name      id index
9   Regency Enterprises   508.0   949
10         Forward Pass   675.0   949
11         Warner Bros.  6194.0   949

In [20]:
moviesclean['release_date']=pd.to_datetime(moviesclean['release_date'])

C:\Users\Maboh\AppData\Local\Temp\ipykernel_24452\4211310315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviesclean['release_date']=pd.to_datetime(moviesclean['release_date'])

In [21]:
moviesclean['release_month']=moviesclean['release_date'].dt.month_name(locale='es_CO.UTF-8')
moviesclean['release_day']=moviesclean['release_date'].dt.day_name(locale='es_CO.UTF-8')
moviesclean['release_year']=moviesclean['release_date'].dt.year

C:\Users\Maboh\AppData\Local\Temp\ipykernel_24452\2920835558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviesclean['release_month']=moviesclean['release_date'].dt.month_name(locale='es_CO.UTF-8')
C:\Users\Maboh\AppData\Local\Temp\ipykernel_24452\2920835558.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviesclean['release_day']=moviesclean['release_date'].dt.day_name(locale='es_CO.UTF-8')
C:\Users\Maboh\AppData\Local\Temp\ipykernel_24452\2920835558.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviesclean['release_year']=moviesclean['release_date'].dt.year

In [22]:
moviesclean

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,video,vote_average,vote_count,index,release_month,release_day,release_year
id,,,,,,,,,,,,,,,,,,,,,
862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,Released,NaN,Toy Story,False,7.7,5415.0,862,Octubre,Lunes,1995.0
8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,8844,Diciembre,Viernes,1995.0
15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,15602,Diciembre,Viernes,1995.0
31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,31357,Diciembre,Viernes,1995.0
11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,11862,Febrero,Viernes,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439050,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,...,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,439050,NaN,NaN,NaN
111109,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,...,Released,NaN,Century of Birthing,False,9.0,3.0,111109,Noviembre,Jueves,2011.0
67758,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,67758,Agosto,Viernes,2003.0
227506,False,NaN,0,[],NaN,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,Released,NaN,Satan Triumphant,False,0.0,0.0,227506,Octubre,Domingo,1917.0
461257,False,NaN,0,[],NaN,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,Released,NaN,Queerama,False,0.0,0.0,461257,Junio,Viernes,2017.0

In [20]:
def cantidad_filmaciones_mes(month):
    monthEs=str(month).strip()
    return (moviesclean['index'][moviesclean['release_month']== 'Octubre'].count())

In [21]:
def cantidad_filmaciones_dia(month):
    monthEs=str(month).strip()
    return (moviesclean['index'][moviesclean['release_day']== 'Lunes'].count())

In [206]:
def score_titulo(name):
    return name,moviesclean['release_date'][moviesclean['original_title']=='Toy Story'].dt.year,moviesclean['popularity'][moviesclean['original_title']=='Toy Story']

In [263]:
def votos_titulo( titulo_de_la_filmación ):
    if moviesclean['vote_count'][moviesclean['original_title']=='Toy Story'].iloc[0]>2000:
        return moviesclean[['original_title','vote_count','vote_average']][moviesclean['original_title']=='Toy Story']

In [49]:
cleanMovieDataframe= moviesclean[['index','original_title','release_date','release_month','release_day','release_year','popularity','vote_count','vote_average']]
cleanMovieDataframe.to_parquet('cleanMovieDataframe.parquet.gzip',compression='gzip')
cleanMovieDataframe.to_csv('prueba.csv')

In [50]:
cleancastDataframe=lakeMovies_Cast[['revenue','name','original_title','index']]
cleancastDataframe.to_parquet('cleanCastDataframe.parquet.gzip',compression='gzip')

In [51]:
cleanCrewDataframe=lakeMovies_Crew[['name','original_title','release_date','revenue','budget','job']]
cleanCrewDataframe.to_parquet('cleanCrewDataframe.parquet.gzip',compression='gzip')

In [307]:
def get_actor( nombre_actor ):
    retornoTotal=lakeMovies_Cast.loc[lakeMovies_Cast['name']=='Tom Hanks',['revenue']].sum().iloc[0]
    cantPeli= lakeMovies_Cast.loc[lakeMovies_Cast['name']=='Tom Hanks',['index']].count().iloc[0]
    promedio=lakeMovies_Cast.loc[lakeMovies_Cast['name']=='Tom Hanks',['revenue']].mean().iloc[0]
    return retornoTotal,cantPeli,promedio,lakeMovies_Cast.loc[lakeMovies_Cast['name']=='Tom Hanks',['revenue','name','original_title','index']]

In [310]:
lakeMovies_Cast.loc[lakeMovies_Cast['name']=='Tom Hanks',['revenue']].max().iloc[0]

1066969703.0

In [341]:
def get_director( nombre_director ):
    exito=lakeMovies_Crew.loc[(lakeMovies_Crew['name']=='John Lasseter') & (lakeMovies_Crew['job']=='Director') ,['revenue']].sum().iloc[0]
    return exito,lakeMovies_Crew.loc[(lakeMovies_Crew['name']=='John Lasseter') & (lakeMovies_Crew['job']=='Director') ,['original_title','release_date','revenue','budget','job']]

In [325]:
lakeMovies_Crew.loc[(lakeMovies_Crew['name']=='John Lasseter') & (lakeMovies_Crew['job']=='Director') ,['original_title','release_date','revenue','budget','job']]

,original_title,release_date,revenue,budget,job
0,Toy Story,1995-10-30,373554033.0,30000000,Director
36704,A Bug's Life,1998-11-25,363258859.0,120000000,Director
48438,Toy Story 2,1999-10-30,497366869.0,90000000,Director
155996,Luxo Jr.,1986-08-17,0.0,0,Director
160254,Cars,2006-06-08,461983149.0,120000000,Director
233011,Cars 2,2011-06-11,559852396.0,200000000,Director
251680,Tin Toy,1988-08-01,0.0,0,Director
252174,Red's Dream,1987-08-17,0.0,0,Director
252547,Knick Knack,1989-01-01,0.0,0,Director
287054,Mater and the Ghostlight,2006-07-27,0.0,0,Director

In [342]:
get_director('blablabla')

(2256015306.0,
                   original_title release_date      revenue     budget  \
 0                      Toy Story   1995-10-30  373554033.0   30000000
 36704               A Bug's Life   1998-11-25  363258859.0  120000000
 48438                Toy Story 2   1999-10-30  497366869.0   90000000
 155996                  Luxo Jr.   1986-08-17          0.0          0
 160254                      Cars   2006-06-08  461983149.0  120000000
 233011                    Cars 2   2011-06-11  559852396.0  200000000
 251680                   Tin Toy   1988-08-01          0.0          0
 252174               Red's Dream   1987-08-17          0.0          0
 252547               Knick Knack   1989-01-01          0.0          0
 287054  Mater and the Ghostlight   2006-07-27          0.0          0

              job
 0       Director
 36704   Director
 48438   Director
 155996  Director
 160254  Director
 233011  Director
 251680  Director
 252174  Director
 252547  Director
 287054  Director  )

In [29]:
recomendationdf= moviesclean[['index','original_title','popularity','revenue','vote_average']]
recomendationdf.to_parquet('recomendationdf.parquet.gzip',compression='gzip')